<section class="row">
    <h1 class="font-heavy text-3xl">Admin Dashboard</h1>
</section>

<.live_component
    module={PentoWeb.Admin.SurveyResultsLive}
    id={@survey_results_component_id} />
<.live_component
    module={PentoWeb.Admin.UserActivityProductsLive},
    id={@user_activity_products_component_id} />
<.live_component
    module={PentoWeb.Admin.UserActivitySurveyLive},
    id={@user_activity_survey_component_id} />